body {
    font-family: Arial, sans-serif;
    background-color: #dad7d7;
}
.container {
    width: 340px;
    margin: 100px auto;
    height: 760px;
    background-color: #fff;
    padding: 50px;
    border-radius: 5px;
    text-align: center;
    font-family: "Releway", sans-serif;
    color: #000000;
    font-size: 23px;
    position: relative;
}
.container h1 {
    color: #8DCB9E; /* Color del texto dentro del contenedor */
}
.flash-message {
    color: green;
    font-weight: bold;
    margin-top: 10px;
}
.appointment-form {
    max-width: 500px;
    margin: auto;
    height: 420px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin-top: 20px;
    overflow: auto; /* Agrega una barra de desplazamiento si el contenido excede el tamaño del contenedor */
}


.appointment-form table {
    width: 90%; /* Asegura que la tabla ocupe todo el ancho del formulario */
    max-height: 100%; /* Evita que la tabla exceda la altura del contenedor */
    border-collapse: collapse; /* Colapsa los bordes de la tabla para que parezca una cuadrícula */
    font-size: 10px; /* Reduce el tamaño de la letra para que toda la tabla sea visible */
    
}

.appointment-form th,
.appointment-form td {
    padding: 1px; /* Añade un espacio entre el contenido y los bordes de las celdas */
    border: 1px solid #ddd; /* Agrega bordes a todas las celdas */
    max-width: calc(90% / 8); /* Divide el ancho de la tabla en tres columnas */
    word-wrap: break-word; /* Permite que el contenido largo se divida en múltiples líneas */
    text-align: center; /* Alinea el texto a la izquierda */
}


form {
    display: inline;
}

.styled-input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 8px;
}

.styled-button {
    padding: 5px 20px;
    background-color: #8DCB9E;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    margin-top: -10px;
}

.styled-button:hover {
    background-color: green;
}
.container-1 {
    display: flex;
    justify-content: center;
    gap: 100px; /* Ajusta la separación entre iconos según sea necesario */
    margin-top: -1px;
}

.config, .casa, .download-20 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.config img, .casa img, .download-20 img {
    width: 45px;
    height: 50px;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-top: 110px;
}

.config img:hover, .casa img:hover, .download-20 img:hover {
    transform: scale(1.1);
}
