* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    /*background-color: #3e4e3e;*/
    background: url("2392606046863777.jpeg") no-repeat center center fixed;
    background-size: cover;
    line-height: 1.6;
    position: center, absolute;
}
h1 {
    text-align: center;
    margin: 10px;
    font-size: 2.5em;
    color: #000000;
    font-family: "Jomhuria", serif;
}

.container {
    width: 1280px;
    height: 745px;
    margin: 60px auto;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);position: center;
}

.appointment-form {
    max-width: 700px;
    margin: auto;
    height: 420px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin-top: 20px;
}

.form-label {
    display: inline-block;
    width: 100px;
    text-align: left;
    margin-top: 10px;
    font-weight: bold;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-input,
.form-select,
.form-textarea {
    width: calc(100% - 110px);
    padding: 10px;
    font-size: 17px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group-full {
    margin-bottom: 15px;
}

.form-input-full,
.form-select-full,
.form-textarea-full {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-submit {
    display: inline-block;
    width: 100%;
    padding: 20px;
    background-color: #8DCB9E;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    cursor: pointer;
    margin-top: 100px;
    transition: background-color 0.3s ease;
}

.form-submit:hover {
    background-color: darkgreen;
}



.alert {
    background-color: #8DCB9E;
    color: white;
    padding: 5px 3px;
    font-size: 20px;
    border: 10px solid #8DCB9E;
    border-radius: 4px;
    max-width: 90%;
    position: relative;
    margin: 10px auto;
    margin-top: 10px;
}

.closebtn {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    margin-top: -10px;
}

.closebtn:hover {
    color: black;
}

#motivo {
    height: 70px;
    resize: none;
    font-family: "Releway", sans-serif;
}

#motivo-label {
    display: inline-block;
    width: 100px;
    text-align: left;
    margin-top: 10px;
    font-weight: bold;
}

@media (max-width: 480px) {
    .alert {
        width: 90%;
        max-width: 90%;
    }

    .form-group {
        flex-direction: column;
        align-items: flex-start;
    }

    .form-input,
    .form-select,
    .form-textarea {
        width: 100%;
    }

    .form-label,
    #motivo-label {
        width: 100%;
    }
}

@media (max-width: 480px) {
    body {
        justify-content: center;
        align-items: center;
        height: 100vh;
        overflow: hidden; /* Previene el desplazamiento */
    } }

  
       

  
  .imagen-superior {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px; /* Ajusta según el tamaño necesario */
    object-fit: cover; /* Para que la imagen cubra toda el área */
    z-index: -1; /* Para que el contenido esté por encima */
  }
  
  
  .imagen-esquina {
    width: 60px; /* Tamaño pequeño */
    height: auto;
    position: fixed;
    top: 14px; /* Ajusta según sea necesario */
  }
  
  .izquierda {
    left: 100px; /* Esquina superior izquierda */
  }
  
  .derecha {
    right: 100px; /* Esquina superior derecha */
    
  }
  
  
  
  .menu-container {
    position: fixed;
    top: 0px;
    right: 10px;
    z-index: 1000;
    width: 60px;
  }
  
  
  
  .menu-dropdown {
    display: none;
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .menu-dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .menu-dropdown a:hover {
    background-color: #f1f1f1;
  }
  
  .show {
    display: block;
  }