@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
}
/* Añadido el estilo para el contenedor principal */
#main-container {
    width: 340px;
    height: 600px; /* Ajustado según tu diseño */
    background-color: #fff;
    padding: 20px; /* Ajustado según tu diseño */
    border-radius: 5px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: #8DCB9E;
    font-size: 1.6rem; /* Ajustado según tu diseño */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #8DCB9E;
    margin-bottom: 3px;
    font-size: 40px;
}

#puzzle_container {
    position: relative;
    width: 308px; /* Ajustado según tu diseño */
    height: 308px; /* Ajustado según tu diseño */
    background-color: #488056;
    border-radius: 8px; /* Ajustado según tu diseño */
    margin-bottom: 50px; /* Ajustado según tu diseño */
}

.puzzle_block {
    position: absolute;
    width: 33.5%; /* Ajustado según tu diseño */
    height: 33.5%; /* Ajustado según tu diseño */
    background-color: #8DCB9E;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    display: block;
    text-align: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    transition: left 0.3s, top 0.3s;
}

#difficulty_container {
    display: flex;
    background-color: #488056;
    border-radius: 8px;
    overflow: hidden;
    width: 300px; /* Ajustado según tu diseño */
}

.difficulty_button {
    flex-grow: 1;
    padding: 10px 0;
    text-align: center;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, font-size 0.3s;
}

.difficulty_button:hover {
    background-color: green;
    font-size: 1.2rem;
}
#message_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 2; /* Asegura que esté sobre el rompecabezas */
    display: flex;
    flex-direction: column; /* Cambio a dirección de columna */
    justify-content: center;
    align-items: center;
}

#message {
    font-size: 24px;
    margin-bottom: 20px; /* Añadir margen inferior */
}

#play_again_button {
    background-color: #4CAF50; /* Verde */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px; /* Margen superior para separar del mensaje */
}

#play_again_button:hover {
    background-color: #45a049; /* Verde más oscuro al pasar el mouse */
}


.container-1 {
    display: flex;
    justify-content: center;
    gap: 100px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.config, .casa, .download-20 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
}

.config img, .casa img, .download-20 img {
    width: 45px;
    height: 50px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.config img:hover, .casa img:hover, .download-20 img:hover {
    transform: scale(1.1);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 400px) {
    input, select {
        width: 120px;
    }
}
