/* Cambia la fuente de todo el documento a Raleway */
body {
    font-family: 'Raleway', sans-serif;
    background-color: #dad7d7;
}



.frame-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 100px;
}

.settings-v-1 .sanamed {
    overflow-wrap: break-word;
    font-weight: 700;
    font-size: 32px;
    color: #000000;
    justify-content: center;
}

.frame-13-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.settings-v-1 .login-button {
    display: flex;
    justify-content: center;
    width: 100%;
}

.settings-v-1 .login-button a {
    border-radius: 8px;
    margin: 2px 0;
    display: flex;
    padding: 30px 30px;
    width: 250px;
    height: fit-content;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background-color: #8DCB9E;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.settings-v-1 .login-button a:hover {
    background-color: green;
}

.settings-v-1 .label {
    text-align: center;
    overflow-wrap: break-word;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.125;
    color: #000;
}

.settings-v-1 .container-8 {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    background: #8DCB9E;
    position: relative;
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15.1px 13.4px 14.2px 13.8px;
    height: 61px;
    width: 98%;
    box-sizing: border-box;
}

.settings-v-1 .imagen14 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.container-1 {
    display: flex;
    justify-content: center;
    gap: 100px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.config, .casa, .download-20 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -240px;
}

.config img, .casa img, .download-20 img {
    width: 45px;
    height: 50px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.config img:hover, .casa img:hover, .download-20 img:hover {
    transform: scale(1.1);
}

.container-1 a img {
    margin-top: 160px; /* Ajusta este valor según lo necesites */
}


.imagen14 img {
    width: 300px;
    height: auto;
    margin-left: 60px;

}


.about-us {
    text-align: right;
    margin-right: 20px;
}

.about-us h2 {
    font-size: 24px;
    color: #333;
    margin-right: 80px;
    white-space: nowrap; /* Evita que el texto se divida en múltiples líneas */
}


.scroll-box {
    overflow-y: auto;
    max-height: 550px; /* ajusta la altura máxima según tu preferencia */
    border: 1px solid #ccc; /* añade un borde para distinguir la caja de texto */
    padding: 10px;
    display: flex;
    flex-direction: column; /* Cambia la dirección de flexión a columnas */
}

.scroll-box p {
    font-size: 16px;
    color: #666;
    text-align: center; /* Asegura que el texto esté centrado horizontalmente dentro del contenedor */
    margin-bottom: 10px; /* Agrega un margen inferior para separar los párrafos */
}


@media (max-width: 480px) {
    body {
        justify-content: center;
        align-items: center;
        height: 100vh;
        overflow: hidden; /* Previene el desplazamiento */
    } }

  
    body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}


h1 {
    color: #8DCB9E;
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.appointment-form {
    max-width: 500px;
    margin: auto;
    height: 420px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin-top: 20px;
}

.container a {
    color: green;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin-top: -40px;
    margin-bottom: 10px;
    display: inline-block;
}



input[type="text"],
input[type="email"],
input[type="password"] {
    display: block;
    margin-top: 10px;
    margin-bottom: 30px; /* Añadido margen inferior para más espacio entre campos */
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #000000;
    box-sizing: border-box;
}

button {
    display: block;
    width: calc(100% - 20px);
    padding: 20px;
    background-color: #8DCB9E;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 80px;
    margin-bottom: 10px;
}

button:hover {
    background-color: green;
}

.alert {
    background-color: #8DCB9E;
    color: white;
    padding: 2px;
    border: 1px solid #8DCB9E;
    border-radius: 4px;
    max-width: 80%;
    width: 400px;
    position: relative;
    margin:  auto;
    font-size: 17px;
    text-align: center;
}

.closebtn {
    color: white;
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.closebtn:hover {
    color: black;
}

.container-1 {
    display: flex;
    justify-content: center;
    gap: 100px; /* Ajusta la separación entre iconos según sea necesario */
    margin-top: -1px;
}

.config, .casa, .download-20 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.config img, .casa img, .download-20 img {
    width: 45px;
    height: 50px;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-top: 60px;
}

.config img:hover, .casa img:hover, .download-20 img:hover {
    transform: scale(1.1);
}

@media (max-width: 480px) {
    body {
        justify-content: center;
        align-items: center;
        height: 100vh;
        overflow: hidden; /* Previene el desplazamiento */
    } }

    body {
        font-family: 'Arial', sans-serif;
        background-color: #ffffff;
        margin: 0;
        padding: 0;
    }
    
    
    h1 {
        color: #8DCB9E;
        font-size: 40px;
        margin-bottom: 20px;
        text-align: center;
    }
    
    .appointment-form {
        max-width: 500px;
        margin: auto;
        height: 420px;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 10px;
        margin-top: 20px;
    }
    
    .container a {
        color: green;
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
        margin-top: -40px;
        margin-bottom: 10px;
        display: inline-block;
    }
    
    
    
    input[type="text"],
    input[type="email"],
    input[type="password"] {
        display: block;
        margin-top: 10px;
        margin-bottom: 30px; /* Añadido margen inferior para más espacio entre campos */
        width: calc(100% - 20px);
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        color: #000000;
        box-sizing: border-box;
    }
    
    button {
        display: block;
        width: calc(100% - 20px);
        padding: 20px;
        background-color: #8DCB9E;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 20px;
        margin-top: 80px;
        margin-bottom: 10px;
    }
    
    button:hover {
        background-color: green;
    }
    
    .alert {
        background-color: #8DCB9E;
        color: white;
        padding: 2px;
        border: 1px solid #8DCB9E;
        border-radius: 4px;
        max-width: 80%;
        width: 400px;
        position: relative;
        margin:  auto;
        font-size: 17px;
        text-align: center;
    }
    
    .closebtn {
        color: white;
        position: absolute;
        top: 0;
        right: 10px;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
    }
    
    .closebtn:hover {
        color: black;
    }
    
    .container-1 {
        display: flex;
        justify-content: center;
        gap: 100px; /* Ajusta la separación entre iconos según sea necesario */
        margin-top: -1px;
    }
    
    .config, .casa, .download-20 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .config img, .casa img, .download-20 img {
        width: 45px;
        height: 50px;
        cursor: pointer;
        transition: transform 0.3s ease;
        margin-top: 60px;
    }
    
    .config img:hover, .casa img:hover, .download-20 img:hover {
        transform: scale(1.1);
    }
    
    @media (max-width: 480px) {
        body {
            justify-content: center;
            align-items: center;
            height: 100vh;
            overflow: hidden; /* Previene el desplazamiento */
        } }
    
        .settings-v-1{
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 400px;
            height: 790px;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            font-family: "Raleway", sans-serif; /* Asegúrate de que el nombre de la fuente esté correctamente escrito */
        }
        
        
        .container-1 {
            display: flex;
            justify-content: space-around;
            padding: 10px 0; /* Espaciado vertical opcional */
        }
        
        .container-1 a {
            flex: 1;
            text-align: center;
            margin-top: 5px;
        }
        
        
        
        @media (max-width: 600px) {
            .container-1 {
                padding: 5px 0; /* Ajusta el padding para pantallas más pequeñas */
            }
        
            .container-1 a img {
                transform: translateY(5px); /* Ajusta la posición para pantallas más pequeñas */
            }
        }
        
        
         body {
            width: 45px;
            height: 50px;
            cursor: pointer;
            transition: transform 0.3s ease;
        }
        
        
        
        @media (max-width: 600px) {
            .container-1 {
                padding: 5px 0; /* Ajusta el padding para pantallas más pequeñas */
            }
        
            .container-1 a img {
                transform: translateY(5px); /* Ajusta la posición para pantallas más pequeñas */
            }
        }
        
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }