<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultas del día {{ fecha_seleccionada }}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='saludmental1.ico ') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style15.css') }}">
    <style>
        .confirmation-dialog {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            z-index: 9999;
        }
        .flash-message {
            color: green;
            font-weight: bold;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <h1 class="titulo-centrado">SANAMED</h1>
    <img src="static/rectangle 6.png" alt="Imagen Superior" class="imagen-superior">
    <img src="static/saludmental1.png" alt="Imagen Esquina Izquierda" class="imagen-esquina izquierda">
  
    <div class="menu-container">
        <img src="static/saludmental1.png" alt="Imagen Esquina Derecha" class="imagen-esquina derecha" id="menu-toggle">
        <div class="menu-dropdown" id="menu-dropdown">
            <a href="{{ url_for('user_home') }}">Home</a>
            <a href="{{ url_for('configuracion') }}">Configuración</a>
            <a href="{{ url_for('logout') }}">Cerrar Sesión</a>

        </div>
    </div>

    <div class="container">
        <h1>Tus citas programadas</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash-message">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="appointment-form">
            <table class="table">          
                <tr>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Nombre Profesional</th>
                    <th>Especialidad</th>
                    <th>Motivo</th>
                    <th>Acciones</th>
                </tr> 
                {% for consulta in consultas %}
                <tr>
                    <td>{{ consulta[2] }}</td> <!-- Fecha -->
                    <td>{{ consulta[3] }}</td> <!-- Hora -->
                    <td>{{ obtener_nombre_profesional(consulta[1]) }}</td> <!-- Nombre del Profesional -->
                    <td>{{ obtener_especialidad_profesional(consulta[1]) }}</td> <!-- Especialidad del Profesional -->
                    <td>{{ consulta[4] }}</td> <!-- Motivo -->
                    <td>
                        <form id="eliminarForm{{ consulta[0] }}" action="{{ url_for('eliminar_consulta', id=consulta[0]) }}" method="post">
                            <button type="button" onclick="showConfirmationDialog('{{ consulta[0] }}')">Eliminar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div id="confirmationDialog" class="confirmation-dialog">
        <p>¿Está seguro de que desea eliminar esta cita?</p>
        <button onclick="cancelDelete()" class="form-submit">Cancelar</button>
        <button onclick="confirmDelete()" class="form-submit">Aceptar</button>
    </div>

    <script>
        var appointmentIdToDelete;

        function showConfirmationDialog(appointmentId) {
            appointmentIdToDelete = appointmentId;
            document.getElementById('confirmationDialog').style.display = 'block';
        }

        function confirmDelete() {
            document.getElementById('confirmationDialog').style.display = 'none';
            // Obtener el ID del formulario a enviar
            var formId = 'eliminarForm' + appointmentIdToDelete;
            // Enviar el formulario
            document.getElementById(formId).submit();
        }

        function cancelDelete() {
            document.getElementById('confirmationDialog').style.display = 'none';
        }
    </script>

    <script>
        //menu
            
                document.addEventListener('DOMContentLoaded', function() {
                    var menuToggle = document.getElementById('menu-toggle');
                    var menuDropdown = document.getElementById('menu-dropdown');
                
                    menuToggle.addEventListener('click', function() {
                        menuDropdown.classList.toggle('show');
                    });
                
                    // Cerrar el menú si se hace clic fuera de él
                    window.addEventListener('click', function(event) {
                        if (!event.target.matches('.imagen-esquina')) {
                            if (menuDropdown.classList.contains('show')) {
                                menuDropdown.classList.remove('show');
                            }
                        }
                    });
                });
    
            
        </script>
</body>
</html>
