<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Perfil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style24.css') }}">
</head>
<body>
    <h1 class="titulo-centrado">SANAMED</h1>
    <img src="static/rectangle 6.png" alt="Imagen Superior" class="imagen-superior">
    <img src="static/saludmental1.png" alt="Imagen Esquina Izquierda" class="imagen-esquina izquierda">
    
    <div class="menu-container">
        <img src="static/saludmental1.png" alt="Imagen Esquina Derecha" class="imagen-esquina derecha" id="menu-toggle">
        <div class="menu-dropdown" id="menu-dropdown">
            <a href="{{ url_for('user_home') }}">Home</a>
            <a href="{{ url_for('configuracion') }}">Configuración</a>
            <a href="{{ url_for('logout') }}">Cerrar Sesión</a>

        </div>
    </div>


    <div class="container">
        <h1 title="Editar perfil">Editar perfil</h1>
        <div class="appointment-form">
            <form action="{{ url_for('editar_perfil') }}" method="post">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert">
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    </div>
                {% endif %}
                {% endwith %}
                
                <div class="form-group">
                    
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" name="nombre" value="" required>
                </div>
                <div class="form-group">
                    <label for="numero_documento">Número de Documento:</label>
                    <input type="text" id="numero_documento" name="numero_documento" value="" required>
                </div>
                <div class="form-group">
                    <label for="celular">Celular:</label>
                    <input type="text" id="celular" name="celular" value="" required>
                </div>
                <div class="form-group">
                    <label for="correo">Correo:</label>
                    <input type="email" id="correo" name="correo" value="" required>
                </div>
                <div>
                    <button type="submit">Guardar Cambios</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        //menu
            
                document.addEventListener('DOMContentLoaded', function() {
                    var menuToggle = document.getElementById('menu-toggle');
                    var menuDropdown = document.getElementById('menu-dropdown');
                
                    menuToggle.addEventListener('click', function() {
                        menuDropdown.classList.toggle('show');
                    });
                
                    // Cerrar el menú si se hace clic fuera de él
                    window.addEventListener('click', function(event) {
                        if (!event.target.matches('.imagen-esquina')) {
                            if (menuDropdown.classList.contains('show')) {
                                menuDropdown.classList.remove('show');
                            }
                        }
                    });
                });
    
            
        </script>
</body>
</html>
