<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style22.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='saludmental1.ico ') }}">

    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap" rel="stylesheet">
    <title>Sanamed - configuracion</title>
</head>
<body style="font-family: 'Raleway', sans-serif;">
<div class="settings-v-1">
    <div class="container-8">
        <div class="salud-mental-1" title="Imagen ilustrativa sobre salud mental"></div>
        <div class="frame-6">
            <span class="sanamed" title="SANAMED: Sanamed es un software de salud mental que ofrece una variedad de servicios y herramientas para mejorar el bienestar emocional y la salud mental de los usuarios.">SANAMED</span>
        </div>
    </div>

    <div class="about-us">
        <h2>Quiénes Somos Nosotros?</h2>
        <div class="scroll-box">
            <p>SANAMED es una aplicación innovadora centrada en abordar las complejidades de la salud mental.</p>
<p>Nuestro compromiso es proporcionar un espacio seguro y de apoyo para aquellos que enfrentan desafíos emocionales y mentales.</p>
<p>Ofrecemos una amplia gama de servicios y herramientas diseñadas para adaptarse a las necesidades individuales de cada usuario, desde el monitoreo del estado de ánimo hasta la práctica de técnicas de relajación.</p>
<p>Además, facilitamos el acceso a profesionales de la salud mental calificados.</p>
<p>Creemos en el poder transformador de la tecnología para mejorar la atención de la salud mental y estamos comprometidos a desarrollar nuevas soluciones para mejorar la calidad de vida de nuestros usuarios.</p>
<p>SANAMED se esfuerza por fomentar una comunidad de apoyo donde los usuarios puedan conectarse, compartir experiencias y encontrar inspiración para su viaje hacia el bienestar emocional.</p>
<p>Nuestra plataforma ofrece grupos de apoyo en línea, chats en vivo con profesionales de la salud mental y recursos educativos para empoderar a nuestros usuarios en su búsqueda de una vida más equilibrada y saludable.</p>
<p>Con un enfoque en la atención integral y personalizada, SANAMED está aquí para acompañar a nuestros usuarios en cada paso de su viaje hacia una mejor salud mental y bienestar.</p>

        </div>

    <div class="container-1">
        <div class="config">
            <a href="#" title="Ajustes"><img src="static/556-5567171_gear-setting-icon-clipart 1.png" alt="Ajustes"></a>
        </div>
        <div class="casa">
            <a href="{{ url_for('user_home') }}" title="Inicio"><img src="static/25694 1.png" alt="Inicio"></a>
        </div>
        <div class="download-20">
            <a href="{{ url_for('index') }}" title="Cerrar Sesión"><img src="static/iconmonstr-log-out-17-240.png" alt="Cerrar Sesión"></a>
        </div>
    </div>

</div>
</body>
</html>
